# Dependencies
node_modules/

# Build outputs
dist/
build/
out/
coverage/

# BLS-KOX
BLS-KOX
BLS-KOX_

# Environment variables
.env
.env.*
!.env.example

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Editors / IDEs
.vscode/
.idea/
*.swp
*.swo

# Local caches
.cache/
.tmp/
bls-server/backups/
