NODE_ENV=development
APP_PORT=7001
APP_NAME=bls-server

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=123456
DB_NAME=bls
DB_CONNECTION_LIMIT=10

JWT_SECRET=please_change_me
JWT_EXPIRES_IN=7d

CORS_ORIGIN=http://localhost:8000
